body {
    margin: 0;
    padding: 0;
}
#game-screen {
    display: block;
}

#playHUD {
    position: absolute;
    visibility: hidden;
}

#gameOver{
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #cc0000;
}

.title {
    font-size: 55px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    font-size: 40px;
    border: 2px solid black;
    border-radius: 30px;
}

#restartButton:hover {
    background-color: #99ff99;
}

#scoreboard {
    margin: 0px;
}
